<template>
  <div></div>
</template>

<script>
export default {
  name: "CloudTables",
  props: {
    src: String,
    apiKey: String,
    clientName: String,
    clientId: String,
    token: String,
  },
  mounted() {
    let div = this.$el;
    let script = document.createElement("script");
    if (this.src) script.src = this.src;
    if (this.apiKey) script.setAttribute("data-apiKey", this.apiKey);
    if (this.token) script.setAttribute("data-token", this.token);
    if (this.clientId) script.setAttribute("data-clientId", this.clientId);
    if (this.clientName) script.setAttribute("data-Name", this.clientName);
    div.appendChild(script);
  },
};
</script>
